<div class="container my-5">
    <div class="row align-items-center">
        
        <div class="col-lg-6 col-12">
            <h2>Contact Us</h2>
            <p><strong>Email:</strong> infosnappy.io</p>
            <p><strong>Phone:</strong> 321-221-231</p>

            <div class="row my-5 gy-4">
                <div class="col-lg-4 col-md-6 col-12 ">
                    <h5><strong>Customer Support</strong></h5>
                    <p>Our support team is available around the clock to address any concerns or queries you may have.</p>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <h5><strong>Feedback & Suggestions</strong></h5>
                    <p>We value your feedback and are continuously working to improve Snappy.</p>
                </div>
                <div class="col-lg-4 col-md-12 col-12">
                    <h5><strong>Media Inquiries</strong></h5>
                    <p>For media-related questions or press inquiries, please contact us at <a href="mailto:mediasnappyapp.com">mediasnappyapp.com</a>.</p>
                </div>
            </div>
        </div>

        <!-- Right Side - Contact Form -->
        <div class="col-lg-6 col-12 my-3 d-flex justify-content-center">
            <div class="form-container p-4 border rounded shadow bg-light w-100">
                <h4 class="py-3 text-center">Request Call Back</h4>
                <form class="my-3">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Contact Number">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="3" placeholder="Your Message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary my-3 w-100">SEND REQUEST</button>
                </form>
            </div>
        </div>
        
    </div>
</div>
